.vm-mock {
  position: relative;
  border: 2px solid red;
  margin: 50px auto 0 auto;
  font-family: sans-serif;
  cursor: default !important;
}

.vm-mock .click, .vm-mock .move {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
}

.vm-mock .click {
  border-radius: 50%;
}

.vm-mock .click:hover {
  opacity: 0.2;
}

.vm-mock .click.right {
  border-radius: 0;
}

.vm-mock .move {
  border-radius: 20%;
}

.vm-mock .click::after,
.vm-mock .move.first::after {
  content: attr(data-idx);
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  color: #666;
  top: 10px;
  left: 10px;
}

.vm-mock input {
  position: absolute;
  font-size: 14px;
  padding: 5px;
  opacity: 0.7;
}
