.vm-mock {
  position: relative;
  border: 2px solid red;
  margin: 50px auto 0 auto;
  font-family: sans-serif;
  cursor: default !important;
}

.click, .move {
  position: absolute;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
}

.click {
  border-radius: 50%;
}

.move {
  border-radius: 20%;
}

.move.first {
  border: 1px solid white;
  box-shadow: 0 0 1px black;
}

.click::after,
.move.first::after {
  content: attr(data-idx);
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  color: #666;
  top: 10px;
  left: 10px;
}
